/* ####### GENERAL ####### */
body, html {
  font-family: 'Poppins'  !important;
  margin: 0;
  padding: 0;
  background: #f9f9f9;
}

.app {
  max-width: 800px;
  margin: 30px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

nav {
  background-color: #333;
  padding: 10px 0;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  padding: 0 15px;
}

nav a {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

nav a:hover {
  color: #4caf50;
}


/* ################## */

.create-post {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
}

.create-post h2 {
  color: #333;
}

.create-post input, .create-post textarea {
  font-size: 18px;
  font-family: 'Poppins';
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

.create-post button {
  font-size: 20px;
  font-family: 'Poppins';
  width: 50%;
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.create-post button:hover {
  background-color: #369636;
}


/* ############## HOME ################# */


.home {
  font-family: 'Poppins';
  padding: 20px;
  background-color: #ececec;
}

.post {
  font-family: 'Poppins';
  background: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 15px rgba(0,0,0,0.1);
}

/* Removing bullets from comments list and adding styling */
.post ul {
  list-style-type: none; 
  padding: 0;
  margin: 0;
}

.post li {
  margin-bottom: 5px; 
  padding-left: 0; 
  color: #666; 
  font-size: 14px; 
}


.post h3 {
  font-family: 'Poppins';
  color: #333;
}

.post p {
  font-family: 'Poppins';
  color: #666;
}

.post img, .post video {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-top: 10px;
}

.like-button {
  font-family: 'Poppins';
  font-size: 24px;
  color: #ff4569;
  background: none;
  border: none;
  cursor: pointer;
}

.like-button:hover {
  color: #ff789e;
}

.comment-button {
  font-family: 'Poppins';
  background-color: #4caf50;
  color: #fff;
  padding: 10px 18px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.comment-button:hover {
  background-color: #369636;
}

.comment-input {
  font-family: 'Poppins';
  width: 90%;
  padding: 15px;
  border: 2px solid #ccc;
  border-radius: 8px;
  margin-top: 10px;
}
